.box {
    width: 400px; 
    background-color:#d15b19;
    padding: 40px; 
    border: 1px solid; 
    margin: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.box2 {
    width: 350px; 
    background-color: #e5a685;
    padding: 40px; 
    border: 1px solid black; 
    margin: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.box3 {
    width: 300px; 
    background-color:#459fc7 ;
    padding: 40px; 
    border: 1px solid black; 
    margin: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.box4 {
    width: 300px; 
    background-color:#9fcae0 ;
    padding: 40px; 
    border: 1px solid black; 
    margin: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}  