/* Estilos de paginas de viajes 
*{
    outline: solid black;
}
*/
body{ /* selección de body */
font-family:Arial, sans-serif ; /* Cambia tipografía */
margin: 0; /* Elimina todo el margen por predefinido */
padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Aca viene el estilo de una clase container */
.container{
    width: 80%; /* Establece el ancho del container en un 80% */
    margin: 0 auto; /* centra horizontalmente el container */ 
}
/* Estilo de encabezado*/ 
header{
    background-color: #333; /* Establece el color de fondo */
    color: #fff; /* Establece el color del texto */
    padding: 20px 0 ; /* añade relleno en la parte inferior y superior */
}
header h1{
    margin: 0; /* elimina el margen por defecto del titulo*/
}
/* Estilo de elemento de lista */
nav ul li{
    display: inline; /* Alinea los elementos */ 
    margin-right:20px; /* Margen hacia la derecha */
}
/* Estilos a elementos de vinculo ancla(a) de navegación */
nav ul li a{
    color: #fff; /* Color a elemento anchor */
    text-decoration: none; /* Quita subrayado de enlace */
}

section{
    padding: 40px 0; /* Añade relleno superior e inferior */
}
#banner{
    background-image: url('http://via.placeholder.com/1500x500'); /* Establece la imagen del banner */
    background-size: cover; /* Ajusta la imagen al area del banner */
    color:#fff; /* Establece color del texto */
    text-align: center; /* Centra el texto del banner */
    padding: 100px; /* Añade relleno superior e inferior */
}
#banner h2{
    font-size: 36px; /* Establece tamaño de h2 */
}
#banner p{
    font-size: 18px; /* Establece tamaño de p */
    margin-bottom: 20px; /* Define el margen inferior */
}
.btn{
    background-color: #007bff; /*color fondo de boton */
    color: #fff; /* Color letra de boton */
    padding: 10px 20px; /* Relleno de boton */
    text-decoration: none;  /* Quita subrayado */
}
/* Cuando pasa mause sobre el boton */
.btn:hover{
    background-color: #0056b3;
}

.destinos-container{
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /*Distribuye uniformemente */
    flex: wrap; /* Si los elementos no caben en la misma linea, agrega una nueva linea con estos elementos extras */
}
.destinos{
    width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* Define el margen inferior */
    text-align: center; /* Centra el texto */
}
.destinos img{
    width: 100%; /* Establece el ancho de la imagen ajustandola al elemento que la contiene */
    border-radius: 8px; /* agrega ezquinas redondeadas */
}
.destinos h3{
    margin-top: 10px; /* Agrega margen superior entre imagen y h3 */
}
.destinos p{
    margin-top: 10px; /* Agrega margen superior entre imagen y p */
}
footer{
    background-color: #333; /* Cambia color del footer */
    color: #fff; /* Color de texto de footer */
    text-align: center; /*Centra el texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}