.btn1{
    display: inline-block;
    background-color:#f5f5f5;
    border: 2px solid #129b9d;
    color:#129b9d;
    padding: 19px 45px;
    text-align: center;
    font-size: 17px;
    margin:55px 79px;
    cursor: pointer;
    border-radius: 20px;
    height: 2px;
    display: flex;
    flex-direction: column;
}
.btn1:hover{
    background-color: #cecaca;
}
.btn2{
    display: inline-block;
    margin: 22px 120px;
    background-color:#00d1b2;
    color: #fff;
    padding: 15px 19px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    flex-direction: column;
}
.bnt2:hover{
    background-color: #0d7e80;
}
.btn3{
    background-color:#2b78e4;
    padding: 15px 32px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    margin: 40px 70px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow:5px 5px 10px rgb(0, 0, 0);
}
.btn3:hover{
    background-color: #1652a7;
}


